.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 90%;
  height: 60px;
  overflow: hidden;
  box-shadow: rgb(158, 158, 158) 0px 4px 10px 4px;
  border-radius: 16px;
  background: transparent;
}

.status {
  display: block;
  align-items: start;
  width: 15px;
  height: 15px;
  margin-left: 25px;
  margin-right: 35px;
  border-radius: 50%;
}
.status_online {
  composes: status;
  background-color: rgb(19, 230, 159);
  box-shadow: 0 0 3px 3px rgb(19, 230, 159);
}
.status_offline {
  composes: status;
  background-color: rgb(237, 20, 82);
  box-shadow: 0 0 3px 3px rgb(237, 20, 82);
}
.name {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 700;
}
